{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src",
        ],
        "alias": {
          "font": "./src/font",
          "img": "./src/img",
          "style": "./src/style",
        },
      },
    ],
  ],
}