/* Webfont: Raleway-Italic */@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('../font/Raleway-Italic.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Raleway-Regular */@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../font/Raleway-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Raleway-MediumItalic */@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../font/Raleway-MediumItalic.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: italic;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

body, html {
  margin: 0;
  font-family: Raleway, Georgia;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

p {
  padding: 0;
  margin: 0;
}

a:hover, a:focus, a:visited, a:link, a:active {
  color: black;
  text-decoration: none;
}

.background-studio-push {
  background-image: url('../img/studio-push.jpg');
  background-size: contain;
}
.background-liroo {
  background-image: url('../img/liroo.png');
  background-size: contain;
}

.container {
  display: flex;
  background: white;
  flex-direction: column;
  padding: 100px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 22px;
}

.text {
  font-size: 18px;
}

.text a {
  font-style: italic;
}

.text a:hover {
  font-weight: 600;
}